---
import Layout from '@layouts/Landing.astro';
import { SITE_TITLE } from "@src/consts";
---

<Layout
	title={SITE_TITLE}
>
	<h1>{SITE_TITLE}</h1>
	<p>Welcome to the Yamasaki Family Tree</p>

	<h2>Starting Points</h2>
	<p>Here are some starting point to begin searching through the family tree.</p>
	
	<h2>Search</h2>
	<p>Search for a name by going to our <a href="/search">Search page</a>.</p>
</Layout>

<style lang="scss">
	h1 {
		text-align: center;
	}
</style>
