---
import Layout from '@layouts/Landing.astro';
import { SITE_TITLE } from "@src/consts";
import ShowTree from '@components/ShowTree';
---

<Layout
	title={SITE_TITLE}
>
	<h1>{SITE_TITLE}</h1>
	<ShowTree client:idle />
</Layout>

<style lang="scss">
	h1 {
		text-align: center;
	}
</style>
