---
import { SITE_TITLE } from "@src/consts";
import PageHeader from "@components/PageHeader.astro";
import PeopleTable from "@src/components/PeopleTable";
---

<html lang="en">
	<PageHeader />
	<body>
		<h1>{SITE_TITLE}</h1>
		<PeopleTable client:idle />
	</body>
</html>

<style lang="scss">
	h1 {
		text-align: center;
	}
</style>