---
import Layout from '@layouts/Landing.astro';
import { SITE_TITLE } from "@src/consts";

import NearestCommonRelative from '@src/components/NearestRelative';
---

<Layout 
title={`${SITE_TITLE} - Find the Nearest Common Ancestor`}>
  <h1>Find the Nearest Common Ancestor</h1>
  <NearestCommonRelative client:idle />
</Layout>

<style lang="scss">
</style>