---
import Layout from '@layouts/Landing.astro';
import NearestCommonRelative from '@src/components/NearestRelative';
---

<Layout>
  <h1>Find the Closest Common Relative</h1>
  <NearestCommonRelative client:idle />
</Layout>

<style lang="scss">
</style>