---
import Layout from '@layouts/Landing.astro';
import { SITE_TITLE } from "@src/consts";
import SearchFind from "astro-pagefind/components/Search";
---

<Layout
	title={`${SITE_TITLE} - Search`}
>
	<h1>Search</h1>
	<SearchFind id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
	
</Layout>

<style lang="scss">
	h1 {
		text-align: center;
	}
</style>
