---
import Layout from '@layouts/Landing.astro';
import { SITE_TITLE } from "@src/consts";
---

<Layout
	title={`${SITE_TITLE} | Search`}
>
	<h1>Search</h1>
	<p>This will eventually become the search page</p>
	
</Layout>

<style lang="scss">
	h1 {
		text-align: center;
	}
</style>
