.f3 {
  width: 100%; 
  height: 900px;
  margin: auto; 
  background-color: rgb(33,33,33);
  color: #fff
}

.card-inner {
  width: 13rem;
  height: 7rem; 
  padding: 15px; 
  border-radius: 5px; 
  text-align: center;
}