table {
  list-style: none;
  text-align: left;
  font-size: 1.3rem;
  .kanji {
    font-size: 1.8rem;
  }
  .selectable:hover {
    color:blue;
    cursor: pointer;
  }
  .selected {
    background-color: aquamarine;
  }
}