ul {
  list-style: none;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  min-width: 15rem;
  li {
    padding: 0.2rem 0.5rem;
  }
  .kanji {
    font-size: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .selectable:hover {
    color:blue;
    cursor: pointer;
  }
  .selected {
    background-color: black;
    color: white;
    &:hover {
      color: gray
    }
  }
}
