
.side-by-side {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

h4 {
  font-size: 1.4rem;
}

.choice {
  font-size: 1.2rem;
  padding: 0 1rem;
}
.common-ancestor {
  margin-top: 1rem;
  font-size: 1.5rem;
}
a {
  text-decoration: none;;
}