.person-bubble {
  border: 2pt solid gray;
  border-radius: 50%;
  padding: 1rem;
  margin: 0.5rem 1rem;
  min-width: 14rem;
  height: 11rem;
  &.selectable {
    background-color: azure;
    &:hover {
      cursor: pointer;
      background-color:aquamarine;
    }
  }
  .first-last-name {
      font-size: 1.4rem;
  }
  ul {
    list-style: none;
    padding: 0;
    font-size: .9rem;
    
    strong {
      font-size:1.3rem;
    }
  }
}