#wrapper {
  width: 100%;
  min-width: 10rem;
  .parents {
    display:flex;
    justify-content: space-around;
    margin-bottom: 3rem;
  }

  .self {
    justify-content: center;
    margin:0 2rem;
    h3 {
      font-size: 2rem;
      margin-bottom:0.5rem;
    }
    p {
      font-size: 2rem;
    }
  }

  .children {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .label {
    font-size: 2rem;
    color:rgba(0,0,0, .4);
    margin-bottom: 0;
  }
}
