#wrapper {
  width: 100%;
  min-width: 10rem;
  .parents {
    display:flex;
    justify-content: space-around;
    margin-bottom: 3rem;
  }

  .self {
    display: flex;
    justify-content: center;
  }

  .children {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .label {
    font-size: 2rem;
    color:rgba(0,0,0, .4);
    margin-bottom: 0;
  }
}
