---
import PageHeader from "@components/PageHeader.astro";
import TopNav from "@components/TopNav.astro";

const { title } = Astro.props.frontmatter || Astro.props;

---
<!DOCTYPE html>
<html lang="en">
	<PageHeader title={title} />
	<body>
		<main>
			<TopNav />
			<slot />
  	</main>
	</body>
</html>

<style lang="scss">
	body {
		font-family: "Inter", Arial, Hfontelvetica, sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
	}

	main {
		max-width: 72rem;
		text-align: center;
		margin:auto;
	}
</style>
